@{
    ViewData["Title"] = "About Us";
}
<h2> Team Members </h2>
<hr />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-2 col-lg-2">
            <div class="img-responsive">
                <img src="~/images/Team/aozien.jpg" class="img-circle" style="max-width:100%;" alt="Abdelrahman Osama" />
            </div>
        </div>
        <div class="col-sm-4 col-lg-4">
            <h2>Abdelrahman Osama Zein</h2>
            <h4>Mobile : +20 111 300 1237</h4>
            <h4>LinkedIn : <a href="https://www.linkedin.com/in/aozien/">aozien</a></h4>
            <h4>Email : <a href="mailto:a.osamamail@gmail.com">A.OsamaMail@gmail.com</a></h4>
        </div>
        <div class="col-sm-2 col-lg-2">
            <div class="img-responsive">
                <img src="~/images/Team/mohamed.jpg" class="img-circle" style="max-width:100%;" alt="Mohamed Gamal" />
            </div>
        </div>
        <div class="col-sm-4 col-lg-4">
            <h2>Mohamed Gamal Elsayed</h2>
            <h4>Mobile : +20 120 822 1107</h4>
            <h4>LinkedIn : <a href="https://www.linkedin.com/in/mohamed-hasan-64500b143/">mohamed-hasan-64500b143</a></h4>
            <h4>Email : <a href="mailto:mohamedhasan2407@gmail.com">mohamedhasan2407@gmail.com</a></h4>
        </div>
    </div>



</div>
<br />
<br />